{include file="public/header" /}


<style>

    .layui-form-item, .layui-card-header, .notic {
        text-align: center;
    }

    .notic-title {
        margin: 10px 0;
        padding: 10px 0;
        border-bottom: 1px solid #f6f6f6;
    }

    .layui-card {
        margin: 10px 0;
    }

    .layui-form-item .layui-input-inline {
        float: none;
        width: 280px;
    }

    .layui-card-header {
        border-bottom: 0;
    }


    .btn-group{
        text-align: center;
    }

</style>


<div class="layui-body">
    <!-- 内容主体区域 -->
    <div>
        <form class="layui-form">

            <div class="layui-row">

                <div class="layui-col-xs12 layui-col-sm12 layui-col-md8 layui-col-md-offset2">

                    <div class="notic notic-title">
                        <h1>龙神理财计算器</h1>
                        <h3>龙神牛逼(菠萝音)</h3>
                    </div>
                    <div class="layui-card">
                        <h2 class="notic">挑选马匹</h2>
                        <div class="layui-card-header">大腿 小白鸽/斗鸡/仙仙/CC/冷冷 中有几人</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="0">请选择</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="layui-card-header">小腿 兰酱/烈女/莉莉丝/核桃 中有几人</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="0">请选择</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="layui-card-header">医疗兵 王菠萝/颜素素 中有几人</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="0">请选择</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="layui-card-header">厨师 川菜是否在场</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="0">请选择</option>
                                        <option value="0">在</option>
                                        <option value="1">不在</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="layui-card">
                        <h2 class="notic">战场选择</h2>
                        <div class="layui-card-header">服务器</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="0">请选择</option>
                                        <option value="0">kakao</option>
                                        <option value="1">亚服</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="layui-card-header">地图</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="0">请选择</option>
                                        <option value="0">小图</option>
                                        <option value="1">老图</option>
                                        <option value="2">沙漠</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-card">
                        <h2 class="notic">小腿状态</h2>

                        <div class="layui-card-header">小腿近几把状态</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="0">请选择</option>
                                        <option value="0">落地盒</option>
                                        <option value="1">3杀</option>
                                        <option value="2">6杀</option>
                                        <option value="3">吃鸡</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="layui-card-header">小腿是否拿了狙</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="0">请选择</option>
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="layui-card-header">是否说了"没有这么多嘻嘻哈哈了"</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="0">请选择</option>
                                        <option value="0">kakao</option>
                                        <option value="1">亚服</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="btn-group">
                        <button class="layui-btn ">原始按钮</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

</div>
<script>
    //JavaScript代码区域
    layui.use(['element', 'form'], function () {
        var element = layui.element,
            form = layui.form;

        // 笨比.科比盘你也敢碰

        //

    });

</script>
</body>
</html>